<div class="col-md-12 mt-2" style="border: .5px solid rgba(128, 128, 128, .6);height: 250px;">
            <span class="ms-2" style="font-weight: 500;border-bottom: 2px solid blue;padding:5px;">
                AÇIK EMİRLERİM
            </span>
            <span style="padding:5px;">
                EMİR GEÇMİŞİM
            </span>

            <div id="buttons">
                <button class="btn btn-primary btn-sm">GİRİŞ YAP</button>
                <button class="btn btn-primary btn-sm">KAYIT OL</button>
            </div>
        </div>